<style type="text/css">
	.footer{
		min-height: 70px;
		margin-top: auto;
		padding: 10px;
		background-color: #286d71;
		color: white;
	}
	.footer_p{
		text-align: center;
		margin: auto;
		font-size: 13px;
		width: 50%;
	}
</style>
<div class="d-flex flex-row align-items-center footer shadow-lg">
	<p class="footer_p">Looking for a comfortable stay? Book your room now and enjoy our exceptional hospitality. Whether it's for business or leisure, we have the perfect accommodation for you. Contact us today to reserve your room or suite.</p>
</div>